<a href="https://colab.research.google.com/github/Vlastel1N/Vlastel1N/blob/main/%D0%B4%D0%BE%D0%BC%D0%B0%D1%88%D0%BA%D0%B0_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Загружаем файлик csv

In [1]:
from google.colab import files
uploaded = files.upload()

Saving ДЗ_данные_titanic - titanic.csv to ДЗ_данные_titanic - titanic.csv

Импортим библиотеку

In [2]:
import pandas as pd

Записываем в переменную

In [3]:
my_dataframe = pd.read_csv('ДЗ_данные_titanic - titanic.csv')

Выводим фрейм

In [5]:
my_dataframe

,PassengerId,Survived,Pclass,Name Passenger,Gender Passenger,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Узнать количество памяти для дф
Метод memory_usage() возвращает занимаемы объем памяти каждым столбцом
Метод sum() суммирует эти значения

In [21]:
f'Объем памяти дф {my_dataframe.memory_usage().sum()} байт'

'Объем памяти дф 85664 байт'

Узнать инфоормацию о фрейме можно несколькими способами, например метод info() - выводит общую информацию о DataFrame, включая типы данных и количество ненулевых значений

In [6]:
my_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       891 non-null    int64
 1   Survived          891 non-null    int64
 2   Pclass            891 non-null    int64
 3   Name Passenger    891 non-null    object
 4   Gender Passenger  891 non-null    object
 5   Age               714 non-null    float64
 6   SibSp             891 non-null    int64
 7   Parch             891 non-null    int64
 8   Ticket            891 non-null    object
 9   Fare              891 non-null    float64
 10  Cabin             204 non-null    object
 11  Embarked          889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

C помощью атрибута shape который, возвращает кортеж, содержащий количество строк и столбцов соответственно

In [12]:
print('количество строк', my_dataframe.shape[0])
print('количество столбцов', my_dataframe.shape[1])

количество строк 891
количество столбцов 12

С помощью метода dtypes можем возвратить серию, в которой индексами являются названия столбцов, а значениями - типы данных соответствующих столбцов

In [15]:
my_dataframe.dtypes

PassengerId           int64
Survived              int64
Pclass                int64
Name Passenger       object
Gender Passenger     object
Age                 float64
SibSp                 int64
Parch                 int64
Ticket               object
Fare                float64
Cabin                object
Embarked             object
dtype: object

С помощью метода value_counts() который применим к серии dtypes, можно посчитать количество столбцов каждого типа

In [14]:
my_dataframe.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

Для того что бы изменить названия столбцов, можем воспользоваться методом rename(), который изменяет навзание по определенным правилам, и воспользоваться методом replace() который заменяет символы в строке и методом lower() который делает из строки нижний регистр
Для метода rename напишем правило с применением lambda фунции

In [16]:
my_dataframe = my_dataframe.rename(columns=lambda x: x.lower().replace(' ', ''))

In [17]:
my_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   passengerid      891 non-null    int64
 1   survived         891 non-null    int64
 2   pclass           891 non-null    int64
 3   namepassenger    891 non-null    object
 4   genderpassenger  891 non-null    object
 5   age              714 non-null    float64
 6   sibsp            891 non-null    int64
 7   parch            891 non-null    int64
 8   ticket           891 non-null    object
 9   fare             891 non-null    float64
 10  cabin            204 non-null    object
 11  embarked         889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Для дальнейшей работы сделаем себе подсказу по уникальным значениям каждого столбца, что бы мы могли понять, категориальные или интервальные значения у нас в каком столбце

In [18]:
print(my_dataframe.apply(lambda x: x.unique()))

passengerid        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
survived                                                      [0, 1]
pclass                                                     [3, 1, 2]
namepassenger      [Braund, Mr. Owen Harris, Cumings, Mrs. John B...
genderpassenger                                       [male, female]
age                [22.0, 38.0, 26.0, 35.0, nan, 54.0, 2.0, 27.0,...
sibsp                                          [1, 0, 3, 4, 2, 5, 8]
parch                                          [0, 1, 2, 5, 3, 4, 6]
ticket             [A/5 21171, PC 17599, STON/O2. 3101282, 113803...
fare               [7.25, 71.2833, 7.925, 53.1, 8.05, 8.4583, 51....
cabin              [nan, C85, C123, E46, G6, C103, D56, A6, C23 C...
embarked                                              [S, C, Q, nan]
dtype: object